body {
    /* need background  */
}
header{
    text-align: center;
}
#wins {
    color: darkgreen;
}
#losses {
    color: darkred;
}
.main-content {
    border: 1px solid #000;
    text-align: center;
}
#canvas {
 border: 1px solid red;
 width: 100%;
}
.letter-button {
    width: 30px;
    height: 30px;
    float: left;
    margin: 2px;
  }
.guessed {
    text-align: center;
}