body {
    background: url("../images/dark_leather.png");
    font-family: "Bad Script";
}
header{
    text-align: center;
    color: gold;
    text-shadow: 0 0 5px rgb(253, 255, 119)
}
#wins {
    color: darkgreen;
}
#losses {
    color: darkred;
}
.main-content {
    background: url("../images/linedpaper.png");
    border: 1px solid #000;
    text-align: center;
}
#canvas {
 width: 70%;
}
.letter-button {
    font-weight: bold;
    background: green;
    float: left;
    margin: 2px;
  }
.btn:focus, .btn:active {
    background: grey;
    color: lightgrey;
    outline: none;
 }
 .btn:hover{
     background: gold;
     box-shadow: 0 0 10px rgb(253, 255, 119);
}
.button-clicked {
    background: grey;
    color: lightgrey;
}
.guessed {
    text-align: center;
}