body {
    /* need background  */
}
header{
    text-align: center;
}
#wins {
    color: darkgreen;
}
#losses {
    color: darkred;
}
.main-content {
    border: 1px solid #000;
    text-align: center;
}
#canvas {
 width: 70%;
}
.letter-button {
    background: lightgreen;
    float: left;
    margin: 2px;
  }
.btn:focus,.btn:active {
    background: grey;
    color: lightgray;
 }
 .btn:hover {
 background:rgb(255, 253, 151);
 }
.button-clicked {
    background: grey;
    color: lightgrey;
}
.guessed {
    text-align: center;
}